{"openapi":"3.0.1","info":{"title":"jurisprudencia-api"},"servers":[{"url":"https://jurisprudencia-api.tjmg.jus.br","description":"Generated server url"}],"security":[{"oauth2Security":[]}],"paths":{"/jurisprudencias/filter":{"post":{"tags":["jurisprudencia-controller"],"summary":"Busca de jurisprudencias filtrada","description":"Retorna os dados de jurisprudencia de acordo com os filtros","operationId":"searchJurisprudenciaFilter","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"sort","in":"query","description":"Campos permitidos para ordenação: julgamento_data, publicacao_data, relevancia","example":"julgamento_data,DESC"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JurisprudenciaFilter"}}},"required":true},"responses":{"200":{"description":"Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JurisprudenciaResponse"}}}},"404":{"description":"Recurso indisponível","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Erro interno","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/jurisprudencias/document":{"post":{"tags":["jurisprudencia-controller"],"operationId":"generateJurisprudenciaHtmlByDocument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JurisprudenciaFilter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/exportar/{email}":{"post":{"tags":["exportacao-controller"],"summary":"Busca de jurisprudencias filtrada","description":"Retorna os dados de jurisprudencia de acordo com os filtros","operationId":"exportacao","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"sort","in":"query","description":"Campos permitidos para ordenação: julgamento_data, publicacao_data, relevancia","example":"julgamento_data,DESC"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JurisprudenciaFilter"}}},"required":true},"responses":{"200":{"description":"Sucesso","content":{"*/*":{"schema":{"type":"boolean"}}}},"404":{"description":"Recurso indisponível","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Erro interno","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/dominio/{field}":{"post":{"tags":["dominio-controller"],"summary":"Busca de dominio","description":"Retorna os dominios de acordo com o field informado","operationId":"searchDominio","parameters":[{"name":"field","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JurisprudenciaFilter"}}},"required":true},"responses":{"200":{"description":"Sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DominioResponse"}}}},"404":{"description":"Recurso indisponível","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Erro interno","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/aplicacao/status":{"get":{"tags":["aplicacao-controller"],"operationId":"getToken","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}}}}},"/aplicacao/refresh-aliases":{"get":{"tags":["aplicacao-controller"],"operationId":"sincronizarAliases","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GerenciarAliasResponse"}}}}}}},"/aplicacao/info":{"get":{"tags":["aplicacao-controller"],"operationId":"getSistema","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Aplicacao"}}}}}}},"/aplicacao/forceDown":{"get":{"tags":["aplicacao-controller"],"operationId":"forceDown","parameters":[{"name":"hostName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}}},"components":{"schemas":{"DataFilterDto":{"type":"object","properties":{"inicio":{"type":"string"},"fim":{"type":"string"}}},"JurisprudenciaFilter":{"type":"object","properties":{"assuntos":{"type":"array","items":{"type":"string"}},"classes":{"type":"array","items":{"type":"string"}},"tiposDocumento":{"type":"array","items":{"type":"string"}},"comarcas":{"type":"array","items":{"type":"string"}},"datasJulgamento":{"type":"array","items":{"$ref":"#/components/schemas/DataFilterDto"}},"datasPublicacao":{"type":"array","items":{"$ref":"#/components/schemas/DataFilterDto"}},"magistrados":{"type":"array","items":{"type":"string"}},"numerosProcessos":{"type":"array","items":{"type":"string"}},"orgaosJulgadores":{"type":"array","items":{"type":"string"}},"ids":{"type":"array","items":{"type":"string"}},"texto":{"type":"string"},"tipoTexto":{"type":"string"},"total":{"type":"boolean"},"documentoSistemaId":{"type":"integer","format":"int32"},"documentoId":{"type":"string"},"documentoHash":{"type":"string"},"dataJulgamento":{"type":"string"}}},"Pageable":{"type":"object","properties":{"page":{"minimum":0,"type":"integer","format":"int32"},"size":{"minimum":1,"type":"integer","format":"int32"},"sort":{"type":"array","items":{"type":"string"}}}},"ProblemDetail":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer","format":"int32"},"detail":{"type":"string"},"instance":{"type":"string","format":"uri"},"properties":{"type":"object","additionalProperties":{"type":"object"}}}},"JurisprudenciaDto":{"type":"object","properties":{"id":{"type":"string"},"tipoDocumento":{"type":"string"},"assuntos":{"type":"array","items":{"type":"string"}},"inteiroTeor":{"type":"string"},"ementa":{"type":"string"},"orgaoJulgador":{"type":"string"},"julgamentoData":{"type":"string"},"numeroProcessoTj":{"type":"string"},"numeroProcessoCnj":{"type":"string"},"publicacaoData":{"type":"string"},"magistrado":{"type":"string"},"classe":{"type":"string"},"documentoId":{"type":"string"},"documentoHash":{"type":"string"},"documentoSistemaId":{"type":"string"},"comarca":{"type":"string"},"highlights":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}},"JurisprudenciaResponse":{"type":"object","properties":{"retrieveTime":{"type":"integer","format":"int64"},"totalRecords":{"type":"integer","format":"int64"},"jurisprudencias":{"type":"array","items":{"$ref":"#/components/schemas/JurisprudenciaDto"}}}},"DominioDto":{"type":"object","properties":{"dominio":{"type":"string"},"quantidade":{"type":"string"}}},"DominioResponse":{"type":"object","properties":{"retrieveTime":{"type":"integer","format":"int64"},"totalRecords":{"type":"integer","format":"int64"},"dominios":{"type":"array","items":{"$ref":"#/components/schemas/DominioDto"}}}},"StatusResponse":{"type":"object","properties":{"status":{"type":"string"}}},"GerenciarAliasResponse":{"type":"object","properties":{"sequencialAtivo":{"type":"string"},"aliasesCriados":{"type":"array","items":{"type":"string"}},"aliasesRemovidos":{"type":"array","items":{"type":"string"}},"erros":{"type":"array","items":{"type":"string"}}}},"Aplicacao":{"type":"object","properties":{"nome":{"type":"string"},"versao":{"type":"string"},"ambiente":{"type":"string"},"sistema":{"$ref":"#/components/schemas/Sistema"},"configuracoes":{"type":"array","items":{"type":"string"}},"request":{"type":"array","items":{"type":"string"}}}},"Memoria":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"livre":{"type":"integer","format":"int64"},"usada":{"type":"integer","format":"int64"},"maxima":{"type":"integer","format":"int64"}}},"Sistema":{"type":"object","properties":{"hostname":{"type":"string"},"versao":{"type":"string"},"locale":{"type":"object","properties":{"language":{"type":"string"},"displayName":{"type":"string"},"country":{"type":"string"},"variant":{"type":"string"},"script":{"type":"string"},"unicodeLocaleAttributes":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"unicodeLocaleKeys":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"displayLanguage":{"type":"string"},"displayScript":{"type":"string"},"displayCountry":{"type":"string"},"displayVariant":{"type":"string"},"extensionKeys":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"iso3Language":{"type":"string"},"iso3Country":{"type":"string"}}},"timeZone":{"type":"object","properties":{"displayName":{"type":"string"},"id":{"type":"string"},"dstsavings":{"type":"integer","format":"int32"},"rawOffset":{"type":"integer","format":"int32"}}},"memoria":{"$ref":"#/components/schemas/Memoria"},"charset":{"type":"string"},"processadores":{"type":"integer","format":"int64"}}}},"securitySchemes":{"oauth2Security":{"type":"oauth2","flows":{"authorizationCode":{"authorizationUrl":"https://auth.tjmg.jus.br/auth/realms/tjmg/protocol/openid-connect/auth","tokenUrl":"https://auth.tjmg.jus.br/auth/realms/tjmg/protocol/openid-connect/token","scopes":{}}}}}}}